{% extends "app/base.html" %}
{% load static %}
{% block main_content %}
<div >
  <div class="container-fluid wrapper" >
    <div class="row">
      <div class="col-lg-12">
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <a class="navbar-brand text-white" href="#">TEXT TO SPEECH</a>
            </div>
  
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar">
              <p  class="text-center:" style=" padding-top : 10px ;margin-right: 25px;"> product1</p>
              <button class="btn btn-dark">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                  <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                </svg>  Logout
              </button>
             
             
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
        </nav>
      </div>
    </div>
  </div>
  <div class="container" >
    <div class="wrapper">
      <div class="text-input">
        <textarea class="from-text" placeholder="Enter text"></textarea>
      </div>
      <div >
        <button id="text-input-btn">Text To Speech</button>
      </div>
    </div>
  </div>
</div>
</div>




{% endblock main_content %}