{% extends "app/base.html" %} {% load static %} {% block main_content %}
<div>
  <header>
    <div class="navbar-container" style="background-color: white; border-bottom: 1px solid gray; display: flex; justify-content: space-between;align-items: center; padding: 20px 30px">
      <div class="logo-wrapper">
        <span style="font-weight: 900;">📃TEXT TO SPEECH🎙️</span>
      </div>
      <div class="navbar-left" style="display: flex; justify-self: center; align-items: center;">
        <span id="username" style="margin-right: 10px;">👋Welcome, Username</span>
        <div class="logout-wrapper">
          <i class="fa-solid fa-right-from-bracket" id="logout-btn"></i>
        </div>
      </div>
    </div>
  </header>
  <div class="container">
    <div id="tts-wrapper" class="wrapper">
      <div class="text-input">
        <textarea class="from-text" placeholder="Enter text" style="border: none;"></textarea>
      </div>
      <div style="border-bottom: 1px solid #0f0e0e;"></div>
      <div style="display: flex; justify-content: space-evenly;align-items: center;height: 60px;">
        <div class="lang-options-wrapper">
          <label for="langs">Select Language:</label>
          <select id="langs" name="cars">
            <option value="vietnamese">Vietnamese</option>
            <option value="english">English</option>
          </select>
        </div>
        <button id="text-input-btn" style="width: 40%;height: 80%;">Text To Speech</button>
      </div>
      <div style="border-bottom: 1px solid #0f0e0e;"></div>
      <div id="media-wrapper" style="display: flex; justify-content: center; align-items: center;">
      </div>
    </div>
  </div>
</div>
<script>
  var loginUrl = "{% url 'login' %}";
</script>
<script src="{%static 'app/js/home.js'%}"></script>
{% endblock main_content %}
