{% extends "app/base.html" %}
{% load static %}
{% block main_content %}

<div class="box elment">
<div class="row">
  <nav class=" navbar navbar-expand-lg " style="margin-left: 82%;">
  
    <div class="navbar-nav" >
      <a class=" btn btn-success" href="{% url "login" %}">Đăng Nhập</a>
      <a class="btn btn-success" href="{% url "signup" %}">Đăng Kí</a>
      
    </div>

</nav>

</div>
<div class="row">
  <div class="container">
    <div class="wrapper">
      <div class="text-input">
        <textarea class="from-text" placeholder="Enter text"></textarea>
      </div> 
      <div >
        <button>Text To Speach</button>
               
      </div> 
    </div>
        
  </div> 
  </div> 
</div>


{% endblock main_content %}