{% extends "app/base.html" %}
{% load static %}
{% block signup_content %}
<div class="bg-dark text-white" style="height: 100vh;">
    <div class="form-content row mx-auto " >
        <div class="col-lg-6" >
           <div class="bg-primary" style="width: 100%;height: 100%;" >
           
           </div>
            
        </div>
    
        <div class="col-lg-6">
            <form>
                <div class="d-flex align-items-center" style="margin-top: 35%;">
                    <div class="mx-auto  " style="width:50% ;height: 50%;">
                        <div class="mb-5" >
                            <h2><strong>Hello!</strong></h2>
                            <h5 class="fw-light fst-italic">Sign Up to Get start</h5>
                        </div> 
                        <div class="form-group my-3">
                          
                            <input type="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Fullname" style="width:100%;">
                            
                          </div>
                        <div class="form-group my-3">
                          
                          <input type="email" class="form-control rounded-pill" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" style="width:100%;">
                          
                        </div>
                        <div class="form-group my-3">
                            <input type="password" class="form-control rounded-pill" id="exampleInputPassword1" placeholder=" Password"  style="width: 100%;">
                        </div>
                        <div >
                            <button type="submit" class="btn btn-primary rounded-pill"style="width: 100%;" >Regiter</button>
                            
                        </div>
                       
                    </div>
                </div>
                    
               
              </form>
            
        </div>
    </div>
</div>

{% endblock signup_content %}