.form-content{
	width: 1000px;
	padding: 35px  0;
	height: 100%;
	
}
/* Import Google Font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{

  min-height: 100vh;
  background: #5372F0;
}
.container{
	margin-top: 100px;
  width:690px;
  background: #fff;
  border-radius: 7px;
  padding: 30px;
}
.wrapper{
  border-radius: 5px;
  border: 1px solid #bbb;
}
.wrapper .text-input{
  display: flex;
  border-bottom:1px solid #bbb;
}
.text-input .to-text{
  border-radius: 0px;
  border-left: 1px solid #bbb;
}
.text-input textarea{
  height:250px;
  width: 100%;
  border:none;
  outline:none;
  resize: none;
  font-size:18px;
  border-radius: 5px;
  background: none;
  padding: 10px 15px;
}

.container button{
  width:100%;
  padding: 14px;
  border:none;
  outline:none;
  cursor: pointer;
  color: #fff;
  font-size: 17px;
  border-radius: 5px;
  background:#5372F0;

}
